<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="typhoon" type="Typhoon.Configuration.TyphoonSection, Typhoon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <typhoon>
    <timeout explicitWait="25" implicitWait="5" existsWait="2" />
    <webDriver name="chrome" />
    <application baseUrl="http://aqa.works" />
  </typhoon>
</configuration>